{% extends "base.html" %}

{% block title%}{% endblock %}
{% load static %}

{% block content %}

<head>
  <link rel='stylesheet css' href="{% static 'css/1on1.css' %}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="wrapper">

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}


  <div class="one">

      <div class='info animate-box'>
        <p>{{ potential.first_name }}</p>
        <img src="../static/images/avator.jpg">
        <p>{{potential.city}}</p>
        <p>Age: 25</p>
        <!-- <p>Profession: Software Engineer</p>
        <p>Hobbies: Running, cooking, sleeping, coding all day long</p>
        <p>Favorite Quote: Never give up.</p> -->
      </div>
        

    
    <div class="buttons">
      <form class="like" action="/like/" method="post">
        
        {% csrf_token %}
        <input type="hidden" name="liked" value="{{potential.id}}"/>
        <button id="like-btn" class="btn btn-danger btn-outline btn-lg">
          <i class="fa fa-heart"></i>
        </button>
        <!-- <input class="like-btn" type="submit" value="LIKE"/> -->
      </form>
      <form class="pass" action="/skip/" method="post">
        {% csrf_token %}
        <input type="hidden" name="skipped" value="{{potential.id}}"/>
        <button id="pass-btn" class="btn btn-success btn-outline btn-lg">
          <i class="fa fa-close"></i></button>
        <!-- <input class="pass-btn" type="submit" value="PASS"/> -->
      </form>
    </div>

  </fieldset>
  </div>

</div>

{% endblock %}
