{% extends "base.html" %}

{% block title%}Scallops Dating{% endblock %}
{% load static %}

{% block content %}

<head>
    <link rel='stylesheet css' href="{% static 'css/1on1error.css' %}"/>
</head>
<div class="wrapper">
        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    <div class="one">
        <h1>
            You do not have any matches.
        </h1>
        
    </div>
</div>
{% endblock %}