{% extends "base.html" %}

{% block title%}{% endblock %}

{% block content %}
{% load static %}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if error %}
        {{ error }}
    {% endif %}

    <!-- {% if image %}
        <img src="image.url" alt="profile picture">
    {% endif %} -->
        
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit Post"/>
    </form> -->

    {{ form.non_field_errors }}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.image.errors }}
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="fieldWrapper">
            {{ form.summary.errors }}
            {{ form.summary.label_tag }}
            {{ form.summary }}
        </div>
        <div class="fieldWrapper">
            {{ form.interest.errors }}
            {{ form.interest.label_tag }}
            {{ form.interest }}
        </div>
        <div class="fieldWrapper">
            {{ form.goals.errors }}
            {{ form.goals.label_tag }}
            {{ form.goals }}
        </div>
        <input type="submit" value="Edit Post"/>
    </form>

{% endblock %}

