<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- MATERIAL DESIGN ICONIC FONT -->

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login-and-reg.css' %}" />
  </head>

  <body>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li
        style="color: red;"
        {%
        if
        message.tags
        %}
        class="{{ message.tags }}"
        {%
        endif
        %}
      >
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="wrapper">
      <div class="inner">
        <div class="image-holder">
          <img src="{% static 'images/registration-form-4.jpg' %}" alt="" />
        </div>
        <form action="/register/" method="POST">
          {% csrf_token %}
          <h3>Sign Up</h3>
          <div class="form-holder active">
            <input
              type="text"
              placeholder="first name"
              class="form-control"
              name="first_name"
            />
          </div>
          <div class="form-holder">
            <input
              type="text"
              placeholder="last name"
              class="form-control"
              name="last_name"
            />
          </div>
          <div class="form-holder">
            <input
              class="datepicker form-control"
              type="text"
              name="birthday"
              placeholder="Birthday"
            />
          </div>
          <div class="form-group">
            <select class="form-control" name="gender">
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </div>
          <div class="form-holder">
            <input
              type="text"
              placeholder="city"
              class="form-control"
              name="city"
            />
          </div>
          <div class="form-holder">
            <input
              type="text"
              placeholder="e-mail"
              class="form-control"
              name="email"
            />
          </div>
          <div class="form-holder">
            <input
              type="password"
              placeholder="Password"
              class="form-control"
              style="font-size: 15px;"
              name="password"
            />
          </div>
          <div class="form-holder">
            <input
              type="password"
              placeholder="Confirm Password"
              class="form-control"
              style="font-size: 15px;"
              name="pass_confirm"
            />
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" checked /> I agree all statement in
              <a href="#">Terms & Conditions</a>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-login">
            <button>Sign up</button>
            <p>Already Have account? <a href="/login">Login</a></p>
          </div>
        </form>
      </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/login-and-reg.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  </body>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
